/**
 *  @template       FE-Salesform
 *  @version        see info.php of this template
 *  @author         erpe
 *	@copyright      2010-2018 erpe
 *  @license        GNU General Public License
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 */
 
/** template css */

h1, h2, h3, h4 {
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	color:#333;
	font-weight: 700;
	line-height: 1em;
	color:#333;
}
h1 {
  	font-size:26px;
}
h2 {
  	font-size:22px;
}
h3 {
  	font-size:18px;
}
h4 {
  	font-size:14px;
}


a:link, a:visited, a:active {
	color: #099;
	text-decoration: underline;
}
a:hover {
	color: #666;
	text-decoration: none;
}


#navi_top {
    margin: 20px auto;
    max-width: 700px;
	padding-right: 10px;
}

ul.menu-top {
    margin: 0;
    padding: 0;
}

.menu-top li {
    float: right;
    list-style: none;
    padding-right: 20px;
    padding-bottom: 20px;
}

.menu-top a {
    text-decoration: none;
    color: #099;
    font-size: 16px;
}

.menu-top a:hover {
    color: #333;
}

#logo {
	margin: 0 auto;
	max-width: 700px;
} 
img.logo {
    width: 100%;
    margin-bottom: 0px;
}



#content {
	max-width:700px;
	margin:0 auto;
}
#content li {
    padding: 0 0 7px 0;
	margin-left: 15px;
}




.ui.message .header {
    font-weight: 400 !important;
}
.abtext {
    margin-top: 0px !important;
	padding-top: 0px !important;
}


